<h3><a href="/dragons/new">Create new dragon?</a></h3>

<% @dragons.each do |dragon| %>
  <div class="col-md-4 col-sm-6 product-index-single">
    <div class="well">
      <h2><a href="/dragons/<%= dragon.id %>"><%= dragon.name %>: <%= number_to_currency(dragon.price) %></a></h3>
      <h4><%= dragon.description %></h4>
      <img src=<%= dragon.images.first %>>
    </div>
  </div>
<% end %>