<h2><%= @dragon.name %></h2>
<% if @dragon.discounted? %>
  <h3>Discount Item!</h3>
<% else %>
  <h3>Everyday Great Value!</h3>
<% end %>
<h3 class="<%= "discount_item" if @dragon.discounted? %>">Subtotal: <%= number_to_currency(@dragon.price) %> (Tax: <%= number_to_currency(@dragon.tax) %>)</h3>
<h3 class="<%= "discount_item" if @dragon.discounted? %>">Total: <%= number_to_currency(@dragon.total) %></h3>
<h4><%= @dragon.description %></h4>
<% @dragon.images.each do |image| %>
  <img src=<%= image.url %>>
<% end %>

<a href="/dragons/<%= @dragon.id %>/edit">Edit the dragon</a>
<a href="/dragons/<%= @dragon.id %>" data-method="delete">Delete the dragon</a>

<h6>Supplier: <%= @dragon.supplier.name %></h6>