<h2><%= @dragon.name %></h2>
<% if @dragon.sale_message == "Discount Item" %>
  <h3 class="discount_item"><%= @dragon.sale_message %></h3>
<% else %>
  <h3><%= @dragon.sale_message %></h3>
<% end %>
<h3>Subtotal: $<%= @dragon.price %> (Tax: $<%= @dragon.tax%>)</h3>
<h3>Total: $<%= @dragon.total %></h3>
<h4><%= @dragon.description %></h4>
<img src=<%= @dragon.image %>>

<a href="/dragons/<%= @dragon.id %>/edit">Edit the dragon</a>
<a href="/dragons/<%= @dragon.id %>" data-method="delete">Delete the dragon</a>